.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--secondary-color);

}
.login-form{
    background-color: var(--);
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow:var(--box shadow);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
.Login-form h2{
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
}
.Login-form p{
    margin-bottom: 2rem;
    color: #6c757d;
}
.Login-form button{
    width: 100%;
}